<article class="elhers">
  <h1>Syndrome d'Elhers Danlos</h1>
  <div class="row">

    <img src="../../assets/image/elhersDanlos.png" width="40%" height="40%">
    <p>Le syndrome Elhers Danlos, c'est quoi?</p>
  </div>
  <div>
    <p>Les Syndromes d’Ehlers-Danlos sont des maladies génétiques rares. <br>
      Il en existe 14 référencé à ce jour avec toutes leur test génétique sauf <br>
      le SEDh qui lui se diagnostic sur des critères clinics. Elles évoluent <br>
      de formes frustrent à des formes parfois très sévères. </p>
  </div>
</article>